In [1]:
# https://www.datacamp.com/community/tutorials/k-means-clustering-python
# https://www.kaggle.com/dhanyajothimani/basic-visualization-and-clustering-in-python
# http://www.awesomestats.in/python-cluster-validation/
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import seaborn as sn
%matplotlib
plt.rcParams['figure.figsize'] = (16, 9)

Using matplotlib backend: Qt5Agg

In [2]:
import os
os.getcwd()

'C:\\Users\\Jagadish\\Documents'

In [3]:
os.chdir('F:\\College Trainings\\Batch 3\\Cluster Analysis')

In [4]:
iris = pd.read_csv('iris.csv')

In [5]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
#iris.Species.value_counts()

In [7]:
#iris.drop(['Species'], axis=1, inplace = True)

In [8]:
iris = iris.drop(['Species'], axis=1, inplace = False)

In [9]:
#iris1 = np.array(iris)

In [10]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
type(iris)

pandas.core.frame.DataFrame

In [12]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform( iris )

In [16]:
 X_scaled1 = pd.DataFrame(X_scaled)
 X_scaled1.head()

          0         1         2         3
0 -0.900681  1.019004 -1.340227 -1.315444
1 -1.143017 -0.131979 -1.340227 -1.315444
2 -1.385353  0.328414 -1.397064 -1.315444
3 -1.506521  0.098217 -1.283389 -1.315444
4 -1.021849  1.249201 -1.340227 -1.315444

In [18]:
cmap = sn.cubehelix_palette(as_cmap=True, rot=-.3, light=1)

In [19]:
sn.clustermap(X_scaled, cmap=cmap, linewidths=.5)

In [105]:
# Dendogram shows the distance between any two observations in a dataset. The vertical axis determines the distance. The longer the axis, the larger the distance.
# The clustermap feature in seaborn provides the dendogram. It also displays the distance between observations as well as the features. But we are mostly interested in observations.

In [106]:
# The Elbow method is a method of interpretation and validation of consistency within cluster analysis designed to help finding the appropriate number of clusters in a dataset.

In [20]:
cluster_range = range( 1, 20)
cluster_errors = []

for num_clusters in cluster_range:
  clusters = KMeans( num_clusters )
  clusters.fit( X_scaled1 )
  cluster_errors.append( clusters.inertia_ )

In [24]:
cluster_range

range(1, 20)

In [21]:
clusters_df = pd.DataFrame( { "num_clusters":cluster_range, "cluster_errors": cluster_errors })

In [26]:
#clusters_df

In [23]:
plt.figure(figsize=(12,6))
plt.plot( clusters_df.num_clusters, clusters_df.cluster_errors, marker = "+" )

In [27]:
# Initializing KMeans
kmeans = KMeans(n_clusters=3, max_iter=400)

In [28]:
#kmeans

In [29]:
# Fitting with inputs
kmeans.fit(iris)

KMeans(max_iter=400, n_clusters=3)

In [30]:
kmeans_labels = kmeans.labels_
kmeans_labels1 = pd.Series(kmeans_labels)

In [32]:
kmeans_labels1.value_counts()

1    62
0    50
2    38
dtype: int64

In [33]:
# Predicting the clusters
labels = kmeans.predict(iris)
labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1])

In [34]:
labels = pd.DataFrame({'Cluster':labels})
#clusterdata = pd.concat([iris, labels], axis = 1)

In [35]:
#labels

In [36]:
cluster_data = pd.concat([iris, labels], axis = 1)
cluster_data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Cluster
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [37]:
sample_cluster = cluster_data[cluster_data["Cluster"] == 0]
sample_cluster.Cluster.value_counts()

0    50
Name: Cluster, dtype: int64

In [41]:
cluster_data.groupby("Cluster")["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"].describe()

<ipython-input-41-2c728298d38a>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cluster_data.groupby("Cluster")["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"].describe()

        Sepal.Length                                                 \
               count      mean       std  min    25%  50%  75%  max
Cluster
0               50.0  5.006000  0.352490  4.3  4.800  5.0  5.2  5.8
1               62.0  5.901613  0.466410  4.9  5.600  5.9  6.2  7.0
2               38.0  6.850000  0.494155  6.1  6.425  6.7  7.2  7.9

        Sepal.Width            ... Petal.Length      Petal.Width            \
              count      mean  ...          75%  max       count      mean
Cluster                        ...
0              50.0  3.428000  ...        1.575  1.9        50.0  0.246000
1              62.0  2.748387  ...        4.800  5.1        62.0  1.433871
2              38.0  3.073684  ...        6.000  6.9        38.0  2.071053


              std  min    25%  50%    75%  max
Cluster
0        0.105386  0.1  0.200  0.2  0.300  0.6
1        0.297500  1.0  1.300  1.4  1.575  2.4
2        0.279872  1.4  1.825  2.1  2.300  2.5

[3 rows x 32 columns]

In [44]:
centroids = kmeans.cluster_centers_

In [46]:
centroids

array([[5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])

In [47]:
fig = plt.figure()
ax = Axes3D(fig)
ax.scatter(iris['Sepal.Length'], iris['Sepal.Width'], iris['Petal.Length'])

In [48]:
fig = plt.figure()
ax = Axes3D(fig)
ax.scatter(iris['Sepal.Length'], iris['Sepal.Width'], iris['Petal.Length'], c=labels)
ax.scatter(centroids[:, 0], centroids[:, 1], centroids[:, 2],centroids[:, 3], marker='*', c='#050520', s=1000)

C:\ProgramData\Anaconda3\lib\site-packages\mpl_toolkits\mplot3d\art3d.py:763: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if zdir == 'x':
C:\ProgramData\Anaconda3\lib\site-packages\mpl_toolkits\mplot3d\art3d.py:765: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  elif zdir == 'y':