In [1]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
np.random.seed(1337)

# Importing the dataset
Churn_data = pd.read_csv('C:\\Users\\cmh4kor\\Desktop\\Deep Learning\\Batch2\\Churn_data.csv')
Churn_data.head()
Churn_data.shape

(10000, 14)

In [2]:
Churn_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
Churn_data['France']= np.where(Churn_data.Geography == 'France',1,0)
Churn_data['Spain']= np.where(Churn_data.Geography == 'Spain',1,0)
Churn_data['Germany']= np.where(Churn_data.Geography == 'Germany',1,0)

Churn_data['Female']= np.where(Churn_data.Gender == 'Female',1,0)
Churn_data['Male']= np.where(Churn_data.Gender == 'Male',1,0)

In [4]:
Y = Churn_data['Exited']
X = Churn_data.drop(['Exited'], axis=1)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state=67)

In [6]:
X_train.shape, X_test.shape

((7000, 18), (3000, 18))

In [7]:
X_train.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Spain,Germany,Female,Male
1631,1632,15685372,Azubuike,350,Spain,Male,54,1,152677.48,1,1,1,191973.49,0,1,0,0,1
7501,7502,15605341,Baird,681,France,Female,58,8,93173.88,1,1,1,139761.25,1,0,0,1,0
203,204,15727868,Onuora,711,France,Female,38,2,129022.06,2,1,1,14374.86,1,0,0,1,0
8260,8261,15627830,Nikitina,640,Germany,Female,30,5,32197.64,1,0,1,141446.01,0,0,1,1,0
4499,4500,15773322,Obiajulu,536,Germany,Female,44,4,121898.82,1,0,0,131007.18,0,0,1,1,0

In [8]:
X_train1 = X_train.drop(['RowNumber', 'CustomerId', 'Surname','Geography', 'Gender'], axis=1)
X_test1 = X_test.drop(['RowNumber', 'CustomerId', 'Surname','Geography', 'Gender'], axis=1)

In [9]:
X_train1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Spain,Germany,Female,Male
1631,350,54,1,152677.48,1,1,1,191973.49,0,1,0,0,1
7501,681,58,8,93173.88,1,1,1,139761.25,1,0,0,1,0
203,711,38,2,129022.06,2,1,1,14374.86,1,0,0,1,0
8260,640,30,5,32197.64,1,0,1,141446.01,0,0,1,1,0
4499,536,44,4,121898.82,1,0,0,131007.18,0,0,1,1,0

In [10]:
X_train1.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'France', 'Spain', 'Germany',
       'Female', 'Male'],
      dtype='object')

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train2 = sc.fit_transform(X_train1)
X_test2 = sc.transform(X_test1)

In [12]:
# Importing the Keras libraries and packages
#Importing required Modules. 
#We need Sequential module for initializing NN and dense module to add Hidden Layers.

import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [13]:
#Initializing Neural Network
classifier = Sequential()

#### output_dim(units) - number of nodes you want to add to perticular layer
#### init(kernel_initializer) - is the initialization of Stochastic Gradient Decent. At the time of initialization, weights should be close to 0 and we will randomly initialize weights using uniform function
#### input_dim  - parameter is needed only for first layer as model doesn’t know the number of our input variables
#### Activation Function - Here we are using rectifier(relu) function in our hidden layer and Sigmoid function in our output layer as we want binary result from output layer but if the number of categories in output layer is more than 2 then use SoftMax function

In [14]:
from ipykernel import kernelapp as app
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 10, init = 'uniform', activation = 'relu', input_dim = 13))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 16, init = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 8, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

C:\Users\cmh4kor\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=13, units=10, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\cmh4kor\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=16, kernel_initializer="uniform")`

C:\Users\cmh4kor\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=8, kernel_initializer="uniform")`
  if __name__ == '__main__':
C:\Users\cmh4kor\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  if sys.path[0] == '':

In [14]:
#adam = keras.optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)

#### Till now we have added multiple layers to our classifier now let’s compile them which can be done using compile method
#### Optimizer - is the algorithm used to find optimal set of weights. Among several types of SGD(Stochastic Gradient descent) algorithm the one which we will use is ‘Adam’. (Other optimisers -  https://keras.io/optimizers/)
#### Loss - Since our dependent variable is binary, we will have to use logarithmic loss function called ‘binary_crossentropy’, if our dependent variable has more than 2 categories in output then use ‘categorical_crossentropy’, (Other loss functions - https://keras.io/losses/)
#### Metrics - on which matrics you want to improve performance of our neural network. (Other metrics - https://keras.io/metrics/)

In [15]:
# Compiling Neural Network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
#classifier.compile(optimizer = adam, loss = 'mean_squared_error', metrics = ['accuracy'])

#### Batch size  - is used to specify the number of observation after which you want to update weight
#### Epoch  - is total number of iterations
##### Choosing the value of batch size and epoch is trial and error there is no specific rule for that

In [16]:
# Fitting our model 
classifier.fit(X_train2, y_train, batch_size = 80, epochs = 50)

Epoch 1/50
7000/7000 [==============================] - 0s 40us/step - loss: 0.6563 - accuracy: 0.7989
Epoch 2/50
7000/7000 [==============================] - 0s 14us/step - loss: 0.4680 - accuracy: 0.7989
Epoch 3/50
7000/7000 [==============================] - 0s 15us/step - loss: 0.4398 - accuracy: 0.7989
Epoch 4/50
7000/7000 [==============================] - 0s 15us/step - loss: 0.4332 - accuracy: 0.7989
Epoch 5/50
7000/7000 [==============================] - 0s 31us/step - loss: 0.4296 - accuracy: 0.7989
Epoch 6/50
7000/7000 [==============================] - 0s 33us/step - loss: 0.4268 - accuracy: 0.7989
Epoch 7/50
7000/7000 [==============================] - 0s 30us/step - loss: 0.4240 - accuracy: 0.7989
Epoch 8/50
7000/7000 [==============================] - 0s 36us/step - loss: 0.4215 - accuracy: 0.7989
Epoch 9/50
7000/7000 [==============================] - 0s 34us/step - loss: 0.4195 - accuracy: 0.7989
Epoch 10/50
7000/7000 [==============================] - 0s 22us/step - loss: 0.4176 - accuracy: 0.7989
Epoch 11/50
7000/7000 [==============================] - 0s 19us/step - loss: 0.4165 - accuracy: 0.7989
Epoch 12/50
7000/7000 [==============================] - 0s 36us/step - loss: 0.4153 - accuracy: 0.8210
Epoch 13/50
7000/7000 [==============================] - 0s 18us/step - loss: 0.4141 - accuracy: 0.8274
Epoch 14/50
7000/7000 [==============================] - 0s 24us/step - loss: 0.4134 - accuracy: 0.8303
Epoch 15/50
7000/7000 [==============================] - 0s 26us/step - loss: 0.4125 - accuracy: 0.8314
Epoch 16/50
7000/7000 [==============================] - 0s 17us/step - loss: 0.4119 - accuracy: 0.8336
Epoch 17/50
7000/7000 [==============================] - 0s 20us/step - loss: 0.4110 - accuracy: 0.8339
Epoch 18/50
7000/7000 [==============================] - 0s 43us/step - loss: 0.4104 - accuracy: 0.8341
Epoch 19/50
7000/7000 [==============================] - 0s 16us/step - loss: 0.4093 - accuracy: 0.8339
Epoch 20/50
7000/7000 [==============================] - 0s 36us/step - loss: 0.4088 - accuracy: 0.8347
Epoch 21/50
7000/7000 [==============================] - 0s 35us/step - loss: 0.4084 - accuracy: 0.8351
Epoch 22/50
7000/7000 [==============================] - 0s 36us/step - loss: 0.4076 - accuracy: 0.8367 0s - loss: 0.4089 - accuracy: 0.
Epoch 23/50
7000/7000 [==============================] - 0s 20us/step - loss: 0.4068 - accuracy: 0.8360
Epoch 24/50
7000/7000 [==============================] - 0s 14us/step - loss: 0.4061 - accuracy: 0.8351
Epoch 25/50
7000/7000 [==============================] - 0s 14us/step - loss: 0.4058 - accuracy: 0.8360
Epoch 26/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.4051 - accuracy: 0.8356
Epoch 27/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.4050 - accuracy: 0.8367
Epoch 28/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.4043 - accuracy: 0.8357
Epoch 29/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.4034 - accuracy: 0.8369
Epoch 30/50
7000/7000 [==============================] - 0s 21us/step - loss: 0.4034 - accuracy: 0.8361
Epoch 31/50
7000/7000 [==============================] - 0s 46us/step - loss: 0.4029 - accuracy: 0.8374
Epoch 32/50
7000/7000 [==============================] - 0s 36us/step - loss: 0.4020 - accuracy: 0.8363
Epoch 33/50
7000/7000 [==============================] - 0s 39us/step - loss: 0.4014 - accuracy: 0.8364
Epoch 34/50
7000/7000 [==============================] - 0s 27us/step - loss: 0.4013 - accuracy: 0.8374
Epoch 35/50
7000/7000 [==============================] - 0s 28us/step - loss: 0.4007 - accuracy: 0.8376
Epoch 36/50
7000/7000 [==============================] - 0s 47us/step - loss: 0.4007 - accuracy: 0.8379
Epoch 37/50
7000/7000 [==============================] - 0s 38us/step - loss: 0.3997 - accuracy: 0.8367
Epoch 38/50
7000/7000 [==============================] - 0s 38us/step - loss: 0.3995 - accuracy: 0.8361
Epoch 39/50
7000/7000 [==============================] - 0s 41us/step - loss: 0.3989 - accuracy: 0.8367
Epoch 40/50
7000/7000 [==============================] - 0s 32us/step - loss: 0.3981 - accuracy: 0.8370
Epoch 41/50
7000/7000 [==============================] - 0s 14us/step - loss: 0.3978 - accuracy: 0.8373
Epoch 42/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.3971 - accuracy: 0.8371
Epoch 43/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.3974 - accuracy: 0.8383
Epoch 44/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.3967 - accuracy: 0.8367
Epoch 45/50
7000/7000 [==============================] - 0s 13us/step - loss: 0.3958 - accuracy: 0.8373
Epoch 46/50
7000/7000 [==============================] - 0s 14us/step - loss: 0.3956 - accuracy: 0.8381
Epoch 47/50
7000/7000 [==============================] - 0s 14us/step - loss: 0.3952 - accuracy: 0.8386
Epoch 48/50
7000/7000 [==============================] - 0s 36us/step - loss: 0.3948 - accuracy: 0.8390
Epoch 49/50
7000/7000 [==============================] - 0s 37us/step - loss: 0.3941 - accuracy: 0.8384
Epoch 50/50
7000/7000 [==============================] - 0s 40us/step - loss: 0.3929 - accuracy: 0.8390

In [23]:
# Predicting the Test set results
y_predtest = classifier.predict_proba(X_test2)
y_predtest1 = (y_predtest > 0.5)

In [24]:
# Creating the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predtest1)
cm

array([[2268,  103],
       [ 336,  293]], dtype=int64)

In [25]:
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
fpr, tpr, _ = roc_curve(y_test, y_predtest[:])
roc_auc = metrics.auc(fpr, tpr)
print(roc_auc)

0.8523598275130267

In [20]:
y_predtrain = classifier.predict(X_train2)
y_predtrain1 = (y_predtrain > 0.5)

In [21]:
cm = confusion_matrix(y_train, y_predtrain1)
cm

array([[5407,  185],
       [ 976,  432]], dtype=int64)

In [22]:
fpr, tpr, _ = roc_curve(y_train, y_predtrain[:])
roc_auc = metrics.auc(fpr, tpr)
print(roc_auc)

0.7899640009266484